.border-orange{
    border-color: #fd7e14 !important;
}
/* .top-buffer-80{
    margin-top: 80px!important;
} */
.items-center {
    margin: 0 auto;
}
.layout-header{
    background-color: #c4c4c46b;
}
.logo-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

 

   .layout-footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    text-align: center;
   }
  
   .footer-first-section {
    background: #fdbd2d;
    color: white;
   }


   .footer-second-section{
    text-align: center;
    font-size: 13px;
    border: 0px solid green;
    background: white;
    color: black;
    padding: 5px;
   }

  .list-inline {
    padding-left: 0;
    margin-left: 37px;
    list-style: none;
   }

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}


 
.login-card{
    box-shadow: 0 0 1px rgb(53 95 111), 0 1px 3px rgb(0 0 0 / 0%);
    background: #d1cbcba6;
    width:400px
}

.login-section .card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff42;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    position: absolute;
    margin-top: 40px;
    width: 400px;
}


